|State|Accuracy|
| --- |  ---   |
||With m=20|
|After attack|0.16|
|After attack with defense|0.61|
||With m=2|
|Before atatck|0.89|
|After attack|0.14|
|After attack with defense|0.60|
||Average node similarity|
|After modified attack|0.31|
|After modified attack with defense|0.48|
