|State|Accuracy|
| --- |  ---   |
||With m=2|
|Before atatck|0.89|
|After attack|0.14|
|After attack with defense|0.60|
|||
||With m=20|
|After attack|0.16|
|After attack with defense|0.61|
