|State|Accuracy|
| --- |  ---   |
||With m=20|
|After attack|0.16|
|After attack with defense|0.61|
||With m=2|
|Before attack|0.89|
|After attack|0.14|
|After attack with jaccard defense|0.69|
|After attack with cosine defense|0.42|
|After attack with pearson defense|0.15|
|After attack with eigen defense|0.78|
||Average node similarity|
|After modified attack|0.31|
|After modified attack with defense|0.48|
